body {
  background: #000;
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
  min-width: 60em;
}

a {
  text-decoration: none;
  color: #009900;
}
a:hover,
a:focus {
  color: #99ff99;
}

#sidebar {
  width: 200px;
  float: right;
  margin: 0 15px 2em 2em;
}
